{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{mlb.id}}" method="post">
    <div class="row">
        <div class="col">
            <label for="Name">Name</label>
            <input id="Name" type="text" class="form-control" placeholder="Name" name="Name" value="{{mlb.Name}}">
        </div>
        <div class="col">
            <label for="Team">Team</label>
            <input id="Team" type="text" class="form-control" placeholder="Team"
                   name="Team" value="{{mlb.Team}}">
        </div>
        <div class="col">
            <label for="Position">Position</label>
            <input id="Position" type="text" class="form-control" placeholder="Position" name="Position" value="{{mlb.Position}}">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="Height_inches">Height in Inches</label>
            <input id="Height_inches" type="text" class="form-control" placeholder="Height in Inches" name="Height_inches" value="{{mlb.Height_inches}}">
        </div>
        <div class="col">
            <label for="Weight_lbs">Weight in LBS</label>
            <input id="Weight_lbs" type="text" class="form-control" placeholder="Weight in LBS" name="Weight_lbs" value="{{mlb.Weight_lbs}}">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="Age">Age</label>
            <input id="Age" type="text" class="form-control" placeholder="Age"
                   name="Age" value="{{mlb.Age}}">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Save</button>

</form>
{% endblock %}

