{% extends "layout.html" %}
{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Team</th>
        <th scope="col">Position</th>
        <th scope="col">Height in Inches</th>
        <th scope="col">Weight in LBS</th>
        <th scope="col">Age</th>
    </tr>
    </thead>
    <tbody>
    {% for mlbplayer in mlbplayers %}
    <tr>
        <td><a href="view/{{mlbplayer.id}}">{{ mlbplayer.Name }}</a></td>
        <td>{{ mlbplayer.Team }}</td>
        <td>{{ mlbplayer.Position }}</td>
        <td>{{ mlbplayer.Height_Inches }}</td>
        <td>{{ mlbplayer.Weight_lbs }}</td>
        <td>{{ mlbplayer.Age }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
